#app {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  font-family: "Vollkorn", serif;
}

a { text-decoration: none; }

pre[class*="language-"] {
  font-size: 1rem !important;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

#site-title {
  font-family: "Vollkorn", serif;
  font-size: 1.75rem;
  font-weight: bold;
}

// Dark theme fixes.
.theme--dark.v-application, .theme--dark.v-tabs  > .v-tabs-bar, .theme--dark.v-sheet, .theme--dark.v-tabs-items {
  color: #f1f1f1 !important;
  background: #222222 !important;
}

.info-card .theme--light a, .info-card .theme--dark a {
  color: #f1f1f1 !important;
}

.warning-card .theme--light a, .warning-card .theme--dark a {
  color: #f1f1f1 !important;
}

.theme--dark.v-application code {
    background-color: #2d2d2d;
}